
* {
    margin-top:50px;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.footer {
    background-color: #002639;
    color: white;
    line-height: 1.6;
    padding-top: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.footer .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid #004a7c;
}

.footer-section {
    width: 20%;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #fed136;
}

.footer-bottom {
    padding: 10px 0;
    text-align: center;
}

.socials a {
    padding: 0 5px;
}

.socials a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
        width: 90%;
        text-align: center;
    }
}
.icon-footer{
    display: flex;
    gap: 10px;
}