
.s1 {
    display: flex;
    justify-content: center;
    background-color: aqua;
    color: blueviolet;
    width: 5%;
    margin: 0 auto;
    }
.s2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.list_2{
display: flex;
}
ul{
    list-style: none;
}
.list_3{
    display: flex;
    gap: 10px;
    margin-left: 100px;
    padding: 10px;
}
.app3{
    border: 1px solid lightgray;
    width: 230px;
    height:80px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.app4{
    border: 1px solid lightgray;
    width: 230px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.t3{ 
    display: flex;
    align-items: start;
    flex-direction: column;
}.t4{ 
    display: flex;
    align-items: start;
    flex-direction: column;
}
.Section_Personal_Details_app3{
    margin-left: 300px;
    display: flex;
    gap: 10px;
}
.Section_Personal_Details_app4{
    margin-left: 300px;
    display: flex;
    gap: 10px;
}
.box{
    list-style: none;
}
.button-selec{
    color: blue;
    background-color: rgb(162, 221, 241);
    width: 90px;
}
